/* indica el estilo del selector de bloque que define el contenedor principal de contenido */
main {
	font-size: x-large;
	margin-bottom: 75px;
}
/* indica el estilo al selector genérico span */
span {
	color: rgb(241, 67, 67);
}
/* indica el estilo del selector de bloque definidor de un contenedor genérico */
div {
	font-size: 27px;
	font-family: 'Golos Text', sans-serif;
	text-decoration: none;
}
/* indica el estilo de la tabla */
table {
	font-size: 24px;
	font-family: 'Golos Text', sans-serif;
	font-weight: bold;
	color: #000000;
	border: 4px solid #333;
	background-color: #f2f2f2;
	text-align: center;
}
/* indica el estilo del encabezado (th) de la tabla */
th {
	font-size: 24px;
	border: 4px solid #333;
	border-radius: 20px;
	padding: 10px;
}
/* indica el estilo de las imágenes de la tabla */
td img {
	width: 30%;
	height: 30%;
}
/* indica el estilo al encabezado 1 */
.texto1 {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 60px;
	width: 65%;
	text-align: left;
}
/* indica el estilo de la clase div2 */
.div2 {
	font-family: 'Golos Text', sans-serif;
	max-width: 40%;
    margin: 0 auto;
}
/* indica el estilo de la clase header1 */
.header1 {
	font-size: 55px;
	font-weight: bold;
}
/* indica el estilo de la clase header2 */
.header2 {
	font-size: 30px;
	font-weight: bold;
}
/* indica el estilo de la clase title2 */
.title2 {
	font-family: 'Saira Condensed', sans-serif;
	font-size: 65px;
	text-decoration: none;
}
/* indica el estilo de la clase vid */
.vid {
	width: 100%;
	height: 400px;
}
/* indica el estilo de la clase img */
.img {
	display: block;
	width: 100%;
	margin: 0 auto;
}
/* indica el estilo al id "imgenc" */
#imgenc {
	max-width: 100%;
	width: 100%;
	height: 100%;
}
/* indica el estilo de la clase footer */
.footer {
	background-color: black;
	color: white;
	text-align: center;
	padding: 10px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
}